*{ 
  box-sizing:border-box; 
}

html { 
  scroll-behavior:smooth; 
}

body {
  margin:0;
  font-family:"Lora", Georgia, serif; 
  line-height:1.65;
}

h1, h2 {
  text-align: center;
}

.brand h1 { 
  font-family:"Bebas Neue",system-ui,sans-serif; 
  font-weight:400; 
  font-size:clamp(2.2rem,6vw,4rem); 
  margin:0; 
  color:#000000; 
  text-transform:uppercase; 
}

.brand h2 { 
  font-family:"Lora",serif; 
  margin:0; 
  color:#000000; 
  font-weight:600; 
  font-size:clamp(1.05rem,2.2vw,1.25rem); 
}

.mission { 
  max-width:860px; 
  margin:.75rem auto 0; 
  color:#000000; 
  opacity:.95; 
  text-align:center; 
}

nav ul { 
  list-style:none; 
  display:flex; 
  gap:.6rem; 
  flex-wrap:wrap; 
  justify-content:center; 
  margin:1rem 0 0; 
  padding:0; 
}

nav a { 
  display:inline-block; 
  background:#fff; 
  border:2px solid #000000; 
  padding:.45rem .8rem; 
  border-radius:999px; 
  text-decoration:none; 
  font-weight:600; 
}

nav a:hover { 
  background:transparent; 
  color:#000000; 
}

main{ 
  max-width:980px;
  margin:2.2rem auto; 
  padding:0 1rem; 
}

section { 
  margin-bottom:2.4rem; 
}

section h3 { 
  font-family:"Bebas Neue",system-ui,sans-serif; 
  letter-spacing:.6px; 
  text-transform:uppercase; 
  color:var(--prussian); 
  margin:.2rem 0 .4rem; 
  font-size:1.6rem; 
}

.panel {
  border:6px double var(--rouge); 
  border-radius:10px;
  padding:20px; 
  outline:1px solid var(--border);
}
.panel-title { 
  margin:0 0 .8rem; 
  color:var(--rouge); 
  text-align:center; 
  font-family:'Bebas Neue',system-ui,sans-serif; 
  letter-spacing:.6px; 
}

#mentions-content[hidden] { 
  display:none !important; 
}

.buttonMention {
  appearance:none; 
  background:none; 
  border:none; 
  padding:0; 
  font:inherit;
  cursor:pointer; 
  position:relative; 
  text-decoration:none; 
  transition:color .25s ease;
}

footer {
  color:#000000; 
  text-align:center; 
  padding:1rem; 
}

#chart-evolution,
#chart-age {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Conteneur Plotly */
#chart-evolution .js-plotly-plot,
#chart-age .js-plotly-plot {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 50vw !important;
  max-width: 900px;
  min-width: 320px;
  height: 420px !important;
  margin: 0 auto !important;
}

/* Forcer le centrage des couches internes Plotly */
#chart-evolution .js-plotly-plot > div,
#chart-age .js-plotly-plot > div,
#chart-evolution .plot-container,
#chart-age .plot-container {
  margin: 0 auto !important;
  padding: 0 !important;
}

#chart-evolution svg,
#chart-age svg {
  display: block;
  margin: 0 auto;
}

#chart-evolution, #chart-age {
  display:block;
  margin:0 auto;   /* le JS fixe la width exacte */
}

/* Responsive mobile */
@media (max-width:768px){
  #chart-evolution .js-plotly-plot,
  #chart-age .js-plotly-plot {
    width:90vw !important;
  }
}